<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.entity.mapper.${className}EntityMapper">
    <resultMap id="BaseResultMap" type="bf.data.entity.entity.coop.${className}Entity">
    <#list table.columns as column>
        <!--${column.columnComment}-->
        <#if column.columnKey="1">
        <id column="${column.columnName}" jdbcType="${column.columnDbType}" property="${column.columnName2}"/>
        <#else >
        <result column="${column.columnName}" jdbcType="${column.columnDbType}" property="${column.columnName2}"/>
        </#if>
    </#list>
    </resultMap>
    <sql id="Base_Column_List">
        <#list table.columns as column>
        ${column.columnName}<#if column_has_next>,</#if>
        </#list>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${table.name?upper_case}
        WHERE <#list table.columns as column><#if column.columnKey="1">${column.columnName} = ${r"#{"}${column.columnName2}}<#break></#if></#list>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM ${table.name?upper_case}
        WHERE <#list table.columns as column><#if column.columnKey="1">${column.columnName} = ${r"#{"}${column.columnName2}}<#break></#if></#list>
    </delete>
    <insert id="insert" parameterType="bf.data.entity.entity.coop.${className}Entity">
        INSERT INTO ${table.name?upper_case} (<include refid="Base_Column_List"/>)
        VALUES (
        <#list table.columns as column>
            ${r"#{"}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
        </#list>
        )
    </insert>
    <insert id="insertSelective" parameterType="bf.data.entity.entity.coop.${className}Entity">
        INSERT INTO ${table.name?upper_case}
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
        <if test="${column.columnName2} != null">
            ${column.columnName}<#if column_has_next>,</#if>
        </if>
        </#list>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <if test="${column.columnName2} != null">
            ${r"#{"}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
            </if>
        </#list>
        </trim>
    </insert>
    <insert id="insertByList">
        INSERT INTO ${table.name?upper_case} (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" separator="," item="entity">
            (
            <#list table.columns as column>
                ${r"#{entity."}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
            </#list>
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="bf.data.entity.entity.coop.${className}Entity">
        UPDATE ${table.name?upper_case}
        <set>
    <#list table.columns as column>
        <#if column.columnKey="0">
        <if test="${column.columnName2} != null">
            ${column.columnName} = ${r"#{"}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
        </if>
        </#if>
    </#list>
        </set>
        WHERE ${capId} = ${r"#{"}${id}}
    </update>
    <update id="updateByPrimaryKey" parameterType="bf.data.entity.entity.coop.${className}Entity">
        UPDATE ${table.name?upper_case}
        <set>
    <#list table.columns as column>
        <#if column.columnKey="0">
            ${column.columnName} = ${r"#{"}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
        </#if>
    </#list>
        </set>
        WHERE ${capId} = ${r"#{"}${id}}
    </update>
    <update id="batchUpdateByListSelect">
        <foreach collection="entityList" item="item" separator=";">
            UPDATE ${table.name?upper_case}
            <set>
                <#list table.columns as column>
                <#if column.columnKey="0">
                <if test="item.${column.columnName2} != null">
                    ${column.columnName} = ${r"#{item."}${column.columnName2},jdbcType=${column.columnDbType}}<#if column_has_next>,</#if>
                </if>
                </#if>
                </#list>
            </set>
                WHERE ${capId} = ${r"#{item."}${id}}
        </foreach>
    </update>
</mapper>
    