<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.mapper.${className}Mapper">
    <resultMap id="BaseResultMap" type="${package}.entity.${className}Entity">
        <#list table.columns as column>
        <!--${column.columnComment}-->
        <#if column.columnKey="1">
        <id column="${column.columnName}" jdbcType="${column.columnDbType}" property="${column.columnName2}"/>
        <#else >
        <result column="${column.columnName}" jdbcType="${column.columnDbType}" property="${column.columnName2}"/>
        </#if>
        </#list>
    </resultMap>
    <update id="deleteBatch">
        UPDATE ${table.name}
        SET DATA_STATE = '0'
        WHERE ${capId} IN(
        <foreach collection="idList" item="item" index="index" separator=",">
            ${r"#{item,jdbcType=VARCHAR}"}
        </foreach>
        )
    </update>
    <sql id="Base_Column_List">
    <#list table.columns as column>
        ${column.columnName}<#if column_has_next>,</#if>
    </#list>
    </sql>
    <select id="selectPageWithParam" resultType="${package}.entity.${className}Entity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${table.name}
        WHERE DATA_STATE = '1'
    <#list table.columns as column>
        <#if column.columnName!="DATA_STATE">
        <if test="entity.${column.columnName2} != null">
        AND ${column.columnName} = ${r"#{"}entity.${column.columnName2}}
        </if>
        </#if>
    </#list>
    </select>
</mapper>
